<!-- Se han definido en el .ts las propiedades -->

<p>Nombre de la empleada: {{nombre}}</p>
<p>Apellido de la empleada: {{apellido}}</p>
<p>Empresa de la empleada: {{empresa_estatica}}</p>
<!-- <p>Edad de la empleada: {{getEdad()+5}}</p>  edad es private, acceder a ella con el get -->

<!-- Operador ternario para construir un condicional -->
<p>Empleado es: {{ edadNueva<18 ? "Menor de edad":"Mayor de edad" }}</p> <!-- condición ? valorsiverdad:valorsifalso -->

<p>Empresa del empleado: {{empresa_dinamica.value}}</p>

<fieldset>
<p>Introduce la empresa: <input type="text" #empresa_dinamica></p> <!-- #empresa_dinamica es una variable DE PLANTILLA-->

<br><br>
<input type="button" value="Añadir empresa" (click)="llamaEmpresa(empresa_dinamica.value)"/>
</fieldset>

<p>Evento KEYUP: {{ejemplo.value}}</p> <!-- No necesita función -->
<fieldset>
    <p>Evento keyup: <input type="text" #ejemplo (keyup)="0" ></p> <!-- keyup es el evento y 0 el tiempo que debe pasar -->
</fieldset>

<!-- Este cuadro de texto estará habiitado o no dependiendo de la Binding Property habilitacionCuadro-->

<h2>Binding Property</h2> <!-- El flujo va del TS al HTML -->
<fieldset>
  <input type="text" [disabled]="habilitacionCuadro"> <!-- Sin Binding seria disabled="true o false" -->
</fieldset>

<br><br>
<h2>Event Binding</h2> <!-- El flujo va del HTML al TS -->
{{textoDeRegistro}}
<p>Registrado: <input type="checkbox" id="registro" [checked]="usuRegistrado" (click)="setUsuarioRegistrado()"></p>

{{getRegistroUsuario()}}
<br><br>
<fieldset>
<h3>Binding</h3>
{{textoDeRegistro2}}
<p>Registrado: <input type="radio" value="si" name="nRegistro" id="idRadio" (click)="setUsuarioRegistrado2($event)"></p>
<p>No Registrado: <input type="radio" value="no" name="nRegistro" (click)="setUsuarioRegistrado2($event)"></p>
</fieldset>

<p>El Binding bidireccional -> {{variable}}</p>
Introduce la variable: <input type="text" [(ngModel)]="variable"> 