<!-- Se ha definido en el .ts las variables -->

<p>Nombre de la empleada: {{nombre}}</p>
<p>Apellido de la empleada: {{apellido}}</p>
<p>Edad de la empleada: {{getEdad()+10}}</p>

//Operador ternario

<p>Empleado es: {{edadNueva<18 ? "Menor de edad":"Mayor de edad"}}</p>

<p>Empresa del empleado: {{empresa.value}}</p>

<fieldset>
<p>Introduce la empresa: <input type="text" #empresa></p>

<br><br>
<input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)"/>
</fieldset>

<p>Evento: {{ejemplo.value}}</p>
<fieldset>
    <p>Evento keyup: <input type="text" #ejemplo (keyup)="0"></p>
    
    <br><br>
</fieldset>